.primary-navbar {
  background-color: rgba(0,44,119,0.7);
  padding-left: 10%;
  padding-right: 10%;
}

.primary-navbar .club-logo {
  padding-bottom: 5px;
}

.primary-navbar .nav-field, .primary-navbar .left-nav-field, .secondary-navbar .nav-field {
  color: white;
  padding-top: 0;
  padding-bottom: 0;
  padding-right: .5rem;
  padding-left: .5rem;
}

.primary-navbar .nav-field {
  border-left: 1px solid #fff;
}

.primary-navbar .left-nav-field {
  border-left: none;
}

.primary-navbar .collapsed-icon {
  color: white;
}

.primary-navbar .navbar-toggler-right {
  border: none;
}

.primary-navbar .navbar-toggler-right i {
  padding: 9px;
}

.secondary-navbar {
  background-color: rgba(0,44,119,0.4);
  padding-left: 15%;
  font-size: smaller;
}

.secondary-navbar .nav-field {
  padding-left: 1.5em;
}

.search-details {
  width: 100%;
  border-width: 1px;
  border-style: solid;
  border-color: #CCC;
  margin-top: 10px;
  margin-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.search-details .details-line {
  margin-top: 10px;
}

.search-details .field {
  margin-right: 20px;
  font-size: 15;
}

body {
  background-color: #F4F4F4;
}

.hotels-search {
  margin-left: 10%;
  margin-right: 10%;
}

.site-path {
  margin-top: 10px;
  font-size: 10;
}

.site-path span {
  padding-right: 2px;
}

.filters-col {
  padding-left: 0;
  font-size: 15;
  color: #157ab1;
}

.card {
  border-radius: 0;
}

.filter-col {
  padding-left: 2px;
  padding-right: 2px;
}