.primary-navbar {
  background-color: rgba(0,44,119,0.7);
  padding-left: 10%;
  padding-right: 10%;
}

.primary-navbar .club-logo {
  padding-bottom: 5px;
}

.primary-navbar .nav-field, .primary-navbar .left-nav-field, .secondary-navbar .nav-field {
  color: white;
  padding-top: 0;
  padding-bottom: 0;
  padding-right: .5rem;
  padding-left: .5rem;
}

.primary-navbar .nav-field {
  border-left: 1px solid #fff;
}

.primary-navbar .left-nav-field {
  border-left: none;
}

.primary-navbar .collapsed-icon {
  color: white;
}

.primary-navbar .navbar-toggler-right {
  border: none;
}

.primary-navbar .navbar-toggler-right i {
  padding: 9px;
}

.secondary-navbar {
  background-color: rgba(0,44,119,0.4);
  padding-left: 15%;
  font-size: smaller;
}

.secondary-navbar .nav-field {
  padding-left: 1.5em;
}

.search-details {
  width: 100%;
  border-width: 1px;
  border-style: solid;
  border-color: #CCC;
  margin-top: 10px;
  margin-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.search-details .details-line {
  margin-top: 10px;
}

.search-details .field {
  margin-right: 20px;
  font-size: 15;
}

body {
  background-color: #F4F4F4;
}

.hotels-search {
  margin-left: 10%;
  margin-right: 10%;
}

.site-path {
  margin-top: 10px;
  font-size: 10;
}

.site-path span {
  padding-right: 2px;
}

.filters-col {
  padding-left: 0;
}

.filters-col .card {
  font-size: 15;
  color: #157ab1;
}

.card {
  border-radius: 0;
}

.filter-col {
  padding-right: 10px;
  padding-left: 10px;
}

.hotel-card {
  width: 100%;
  background-color: white;
  border: 1px solid rgba(0,0,0,.125);
  padding: 10px;
  margin-bottom: 15px;
}

.hotel-card, .card {
  box-shadow: 2px 2px 1px #888888;
}

.hotel-card .hotel-image {
  width: 100%;
}

.recommended-alert {
  width: 100%;
  height: 1.5em;
  background-color: #0275d8;
  color: white;
  margin-bottom: -1.5em;
  position: relative;
  text-align: center;
  font-size: small;
}

.dicount-alert {
  box-sizing: border-box;
  padding-top: 4px;
  width: 40px;
  height: 48px;
  color: #fff;
  text-align: center;
  position: absolute;
  font-size: 14px;
  line-height: 18px;
  z-index: 1;
  top: -8px;
  left: 16px;
  background-color: #509E3C;
  border-radius: 2px 0px 2px 2px;
  font-weight: bold;
  margin-left: 15px;
}

.dicount-alert::after {
  content: "";
  position: absolute;
  border-width: 4px;
  border-color: transparent transparent #2D5C23 #2D5C23;
  border-style: solid;
  top: 0;
  right: -8px;
}

.hotel-card .fa-star, .stars-options .fa-star {
  color: #FDBA12;
  margin-right: 3px;
}

.hotel-card .bed-message {
  margin-top: 10px;
  color: #DF6800;
  font-weight: bold;
  font-size: 0.875rem;  
}

.hotel-card .services {
  margin-top: 7px;
}

.hotel-card .services i {
  margin-right: 3px;
  color: #444;
}

.hotel-card .hotel-payment {
  text-align: center;
  border-left: 1px dashed #CCC;
}

.hotel-card .payment-description {
  font-size: 0.6rem;
}

.hotel-card .currency {
  line-height: 2.5rem;
  font-size: 1.5rem;
  font-weight: normal;
  display: inline-block;
  vertical-align: top;
}

.hotel-card .amount {
  line-height: 2.5rem;
  font-size: 2.25rem;
  font-weight: bold;
  display: inline-block;
}

.hotel-card .final-price {
  color: #DF6800
}

.search-button {
  margin-top: 8px;
  margin-bottom: 8px;
  width: 100%;
  background-color: #002c77;
  color: #fff;
  border-radius: 4px;
  display: inline-block;
}

.hotel-card .search-button {
  text-decoration: none;
  font-size: 20px;
  line-height: 40px;
  font-weight: 700;
}

.filter-col .search-button {
  text-decoration: none;
  font-size: 10px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  margin: 0;
  padding-left: 0;
}

.button-filter-col {
  padding-left: 0;
  padding-right: 0;
}

.price-filter {
  margin-top: 5px;
}

.price-filter .rz-bar {
  position: relative;
  box-sizing: border-box;
  background: #fff;
  border: 4px solid #CCC;
  border-radius: 2px;
  height: 8px;
}

.price-filter .rz-selection {
  border-color: #777;
  height: 8px;
}

.price-filter .rz-pointer {
  box-sizing: border-box;
  background: #fff;
  border: 1px solid #777;
  border-radius: 8px;
  width: 16px;
  height: 32px;
  top: -16px;
  cursor: pointer;
  z-index: 1;
  margin-top: 4px;
}

.price-filter .rz-pointer::after {
  display: none;
}

.price-filter .rz-bubble {
  display: none;
}

.filter-amounts {
  font-size: 0.875rem;
  font-weight: bold;
  color: #444;
  margin-top: 7px;
}

.filter-amounts .max {
  float: right;
}

.filters-col .card {
  margin-bottom: 5px;
}

.hotels-amount {
  font-size: 0.75rem;
  font-weight: bold;
  color: #444;
}

.name-input {
  max-width: 100%;
}

.mobile-menu-line {
  text-decoration: none;
  border-bottom: 1px solid #CCC;
  color: #157ab1;
  text-align: center;
  padding: 16px;
  width: 100%;
}

.mobile-menu {
  margin-bottom: 25px;
}

.mobile-filters {
  margin-top: 30px;
}
