<div ng-controller="hotelsSearchCtrl" ng-init="bootstrap()" class="hotels-search">
  <div class="row">
    <div class="site-path">
      <span> <a href="#">Home</a></span>
      <span>/</span>
      <span> <a href="#">Hoteles</a></span>
      <span>/</span>
      <span>{{currentSearch.city}}</span>
    </div>
    <div class="search-details">
      Hoteles disponibles para:
      <div class="details-line">
        <span class="field">
          <i class="fa fa-map-marker"></i>
          {{currentSearch.city}}
        </span>
        <span class="field">
          <i class="fa fa-calendar"></i>
          {{currentSearchToLocale('from')}}
        </span>
        <span class="field">
          <i class="fa fa-calendar"></i>
          {{currentSearchToLocale('upTo')}}
        </span>
        <span class="field">
          <i class="fa fa-user"></i>
          {{currentSearch.guests}} huéspedes
        </span>
        <span class="field">
          <a href="#">Modificar búsqueda</a>
        </span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-3 filters-col">
      <strong>Filtrar</strong>
      <div class="card">
        <div class="card-block">
          <p class="filter-title">
            <i class="fa fa-search"></i>
            Nombre del hotel
          </p>
          <div class="row">
            <div class="col-lg-7 filter-col">
              <input class="form-control" type="text" ng-model="name" placeholder="Ingrese el nombre del hotel">
            </div>
            <div class="col-lg-5 filter-col">
              <button class="btn btn-primary" ng-click="searchFilter.name = name">Aceptar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-9">
      <div class="row hotel-card" ng-repeat="hotel in shownHotels()">
        <div class="col-4">
          <div class="recommended-alert" ng-show="hotel.recommended">
            ¡Hotel recomendado!
          </div>
          <div class="dicount-alert" ng-show="hotel.discount > 0">
            {{hotel.discount}}% OFF
          </div>
          <img class="hotel-image" src="{{hotel.imageUrl}}">
        </div>
        <div class="hotel-details col-5">
          <h6>
            {{hotel.name}}
          </h6>
          <div repeat="hotel.stars"><i class="fa fa-star"></i></div>
        </div>
        <div class="hotel-payment col-3">
          {{hotel.price}}
        </div>
      </div>
    </div>
  </div>
</div>