<div ng-controller="hotelsSearchCtrl" ng-init="bootstrap()" class="hotels-search">
  <div class="row">
    <div class="search-details">
      Hoteles disponibles para:
      <div class="details-line">
        <span class="field">
          <i class="fa fa-map-marker"></i>
          {{currentSearch.city}}
        </span>
        <span class="field">
          <i class="fa fa-calendar"></i>
          {{currentSearchToLocale('from')}}
        </span>
        <span class="field">
          <i class="fa fa-calendar"></i>
          {{currentSearchToLocale('upTo')}}
        </span>
        <span class="field">
          <i class="fa fa-user"></i>
          {{currentSearch.guests}} huéspedes
        </span>
        <span class="field">
          <a href="#">Modificar búsqueda</a>
        </span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-4">

    </div>
    <div class="col-8">
      <ul>
        <li ng-repeat="hotel in hotels">{{hotel.name}}</li>
      </ul>

    </div>
  </div>
</div>