<div class="card">
  <div class="card-block">
    <p class="filter-title">
      <i class="fa fa-search"></i>
      Nombre del hotel
    </p>
    <div class="row">
      <small class="col-lg-9 filter-col">
        <input class="name-input" type="text" ng-model="name" placeholder="Ingrese el nombre del hotel">
      </small>
      <div class="col-lg-3 button-filter-col filter-col">
        <a href="#" class="search-button" ng-click="searchFilter.name = name">Aceptar</a>
      </div>
    </div>
  </div>
</div>
